@import "tailwindcss";
@import "./fonts/times.css";
@theme {
  --color-white: #fff;
  --color-black: #111;
  --color-red-500: #dc2626;
  --color-gray-400: #3b3d3f;
  --color-gray-500: #404244;
  --color-gray-600: #2c2e30;
  --color-gray-800: #0e0e0e;
  --font-sans: "Times Crimson";
}

@layer base {
  html {
    @apply text-sm;
  }
  body {
    @apply box-border bg-gray-600 text-white;
  }
}

/* @layer components {
    .card {
      background-color: var(--color-white);
      border-radius: var(--rounded-lg);
      padding: var(--spacing-6);
      box-shadow: var(--shadow-xl);
    }
  } */
/* @utility content-auto {
    content-visibility: auto;
  }
  @utility scrollbar-hidden {
    &::-webkit-scrollbar {
      display: none;
    }
  } */
