@import "tailwindcss";
@import "./fonts/times.css";
@import "./themeCustomizing.css";

@layer base {
  html {
    @apply text-sm;
  }
  body {
    @apply box-border bg-gray-600 text-white;
  }
}

@layer components {
  .drop-drawer-enter-active {
    @apply transition-all duration-200 ease-in-out;
  }
  .drop-drawer-leave-active {
    transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
  }
  .drop-drawer-enter-from,
  .drop-drawer-leave-to {
    @apply -translate-y-[10px] opacity-0;
  }
  .loader {
    @apply animate-spin bg-transparent border-[3.5px] rounded-full border-white/50 border-b-white border-l-white size-[1.3rem];
  }
}
/* @utility content-auto {
    content-visibility: auto;
  }
  @utility scrollbar-hidden {
    &::-webkit-scrollbar {
      display: none;
    }
  } */
